.action_form{
    display: inline-block;
    width: 100%;
}

.action_form li{
    float: left;
    padding-right: 40px;
}

input[type=submit].search-btn{
    background: #417690;
}

.aligned ul label {
    float: left;
}

.aligned .form-row .action_form input {
    margin-top: 8px;
}

button.search-btn{
    vertical-align: middle;
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
button.search-btn:hover{
    background: #609ab6;
}
